/*************************/
/* Reset Browser Styles
    from here: https://gist.github.com/docode-ru/
 */
/*************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

body
{
    font-size: 16px;
    line-height: 1.4;
}

ol
{
    padding-left: 1.4em;
    list-style: decimal;
}

ul
{
    padding-left: 1.4em;
    list-style: square;
}

table
{
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* End Reset Browser Styles */

/* Below we describe styles for resume page: */

body {
    background:#cccccc;
}

/* Верхнее выпадающее меню */
/* задаем цвет фона для контейнера nav. */
nav {
	margin: 0px 0px 20px 0px;
	background-color: crimson;
	height: auto;
    width: 800px;
}
			
/* убираем отступы и поля, а также list-style для "ul", 
* и добавляем "position:relative" */
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
	background-color: crimson;
}
/* стилизуем ссылки */
nav a.topmenu {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:16px;
	font-family: "Arial", Helvetica, Arial, sans-serif;
	line-height: 40px;
	text-decoration:none;
}
/* изменяем цвет фона при наведении курсора */
nav a.topmenu:hover {
	background-color: #000000;
	transform: none;
}
/* скрываем выпадающие списки по умолчанию
	* и задаем абсолютное позиционирование */
nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
			
/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
	display:inherit;
}
			
/* первый уровень выпадающего списка */
nav ul ul li {
	min-width:170px;
	float:none;
	display:list-item;
	position: relative;
}
/* второй, третий и последующие уровни 
 * смещаем 2 и 3 уровни влево 
 * на значение длины первого уровня.
 */
nav ul ul ul {
	position: absolute;
	top:0%;
	left:100%;
}
/* Конец выпадающего меню*/

img.portrait {
    clip-path: polygon(0px 0px, 10px 10px, 20px 0px, 30px 10px, 40px 0px, 50px 10px, 60px 0px, 70px 10px, 80px 0px, 90px 10px, 100px 0px, 110px 10px, 120px 0px, 130px 10px, 140px 0px, 150px 10px, 160px 0px, 170px 10px, 180px 0px, 190px 10px, 200px 0px,
    190px 10px, 200px 20px, 190px 30px, 200px 40px, 190px 50px, 200px 60px, 190px 70px, 200px 80px, 190px 90px, 200px 100px, 190px 110px, 200px 120px, 190px 130px, 200px 140px, 190px 150px, 200px 160px, 190px 170px, 200px 180px, 190px 190px, 200px 200px,
    190px 190px, 180px 200px, 170px 190px, 160px 200px, 150px 190px, 140px 200px, 130px 190px, 120px 200px, 110px 190px, 100px 200px, 90px 190px, 80px 200px, 70px 190px, 60px 200px, 50px 190px, 40px 200px, 30px 190px, 20px 200px, 10px 190px, 0px 200px,
    10px 190px, 0px 180px, 10px 170px, 0px 160px, 10px 150px, 0px 140px, 10px 130px, 0px 120px, 10px 110px, 0px 100px, 10px 90px, 0px 80px, 10px 70px, 0px 60px, 10px 50px, 0px 40px, 10px 30px, 0px 20px, 10px 10px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 10px 10px, 20px 0px, 30px 10px, 40px 0px, 50px 10px, 60px 0px, 70px 10px, 80px 0px, 90px 10px, 100px 0px, 110px 10px, 120px 0px, 130px 10px, 140px 0px, 150px 10px, 160px 0px, 170px 10px, 180px 0px, 190px 10px, 200px 0px,
    190px 10px, 200px 20px, 190px 30px, 200px 40px, 190px 50px, 200px 60px, 190px 70px, 200px 80px, 190px 90px, 200px 100px, 190px 110px, 200px 120px, 190px 130px, 200px 140px, 190px 150px, 200px 160px, 190px 170px, 200px 180px, 190px 190px, 200px 200px,
    190px 190px, 180px 200px, 170px 190px, 160px 200px, 150px 190px, 140px 200px, 130px 190px, 120px 200px, 110px 190px, 100px 200px, 90px 190px, 80px 200px, 70px 190px, 60px 200px, 50px 190px, 40px 200px, 30px 190px, 20px 200px, 10px 190px, 0px 200px,
    10px 190px, 0px 180px, 10px 170px, 0px 160px, 10px 150px, 0px 140px, 10px 130px, 0px 120px, 10px 110px, 0px 100px, 10px 90px, 0px 80px, 10px 70px, 0px 60px, 10px 50px, 0px 40px, 10px 30px, 0px 20px, 10px 10px, 0px 0px);
}

p.maincontent {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #303030;
    margin-left: 10px; /* Отступ слева */
    margin-bottom: 20px; /* Отступ снизу */
}

p.intable {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #303030;
    margin-bottom: 15px; /* Отступ снизу */
}

ul {
	margin-bottom: 20px; /* Отступ снизу */
}

ul li {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #303030;
}

p.contactblock {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #303030;
    text-shadow: 2px 2px 7px #aaaaaa;
}

a {
    font-family: inherit;
    font-size: inherit;
    color: blue;
    display:inline-block;
}

a:hover {
    font-family: inherit;
    font-size: inherit;
    color: deeppink;
    display:inline-block;
    transform: scale(1.1, 1.2);
}

a:visited {
    font-family: inherit;
    font-size: inherit;
    color: blueviolet;
    display:inline-block;
}

p.bold {
    font-weight: bold;
    text-shadow: 2px 2px 7px #aaaaaa;
}

h2.headers {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #303030;
    font-weight: bold;
    text-shadow: 3px 3px 9px #909090;
}

h3.headers {
    font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #303030;
    font-weight: bold;
    text-shadow: 3px 3px 9px #909090;
}

div.container {
    position: relative;
    background:#ffffff;
    margin: 20px auto 0px auto;
    width: 800px;
    height: auto;
    float: top;
}

header {
    background: #ffffff;
    height: auto;
    width: 800px;
    padding: 20px;
}

header em {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: darkred;
}

table {
    border: 0px;
    border-spacing: 20px 10px;
}

div.contactinfo {
    background: #ffffff;
    float: left;
    width: 555px;
    height: auto;
    padding: 0px 20px 20px 20px;
}

div.wrapperbox {
    position: relative;
    background: #ffffff;
    float: left;
    width: 245px;
    height: 200px;
    padding: 0px;
}

div.fotobox {
    position: absolute;
    top: 0px;
    left: 45px;
    background: #ffffff;
    float: left;
    width: 200px;
    height: 200px;
    padding: 0px;
}

div.socialbuttons {
    position: absolute;
    top: 0px;
    left: 245px;
    float: left;
    background: #cccccc;
    width: 45px;
    height: 200px;
    padding: 0px;
}

.clear {
    clear:both;
}

div.contentarea {
    background: #ffffff;
    float: top;
    width: 800px;
    height: auto;
    padding: 0px 20px 20px 20px;
}

div.footer {
    background: crimson;
    height: 30px;
    width: 800px;
}