
.a4-wrapper {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    width: 21cm;
}

.content-wrapper {
    padding: 30px 50px 30px 50px;
}

header {
    overflow: auto;
}

.target-text {
    margin-top: 0px;
    padding-right: 10px;
}

.about-me-container {
    overflow: auto;
}

.my-target {
    width: 413px;
    float: left;
}

.my-photo {
    float: right;
    width: 280px;
    height: 280px;
}

.user-photo {
    border-radius: 5px;
}

.name {
    display: inline-block;
    margin-top: 0;
}

nav {
    display: inline-block;
    float: right;
}

.fa-ul {
    text-align: right;
}

a {
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    color: blue;
}

.blue {

}

.secondary-text {
    color: #000000;
    opacity: 0.6;
}

hr {
    margin-top: 25px;
}

ul.skills-list {
    padding-left: 0px;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li.skills-list {
    margin-bottom: 20px;

}

li.skills-list:before {
    content: "• ";
    margin-right: 20px;
    margin-left: 20px;
}

.dates {
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;

}

.job-name {
    color: #5970ff;
    opacity: 1;
}

.job-overview {
    margin-top: 0px;
    margin-bottom: 0px;
}


