body {
    background: #E6E6E6;
}
ul.hor_nav {
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.hor_nav li {
    display: inline;
    margin-right: 4px;
    padding: 2px;
    text-align: center;
}
TABLE {
    width: auto; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}
TH {
    background: #b0e0e6; /* Цвет фона */
}
.image a img{
    width: 10%;
    height: 10%;
    border: 1px solid black;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
.image a img:hover {
    transform: scale(1.1);
}
li {
    padding: 3px;
    text-decoration: none; /* Подчеркивание у ссылок убираем */
}
li:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
}
H1 {
    text-shadow: 1px 1px white,
    2px 2px #777;
    color: #333;
    transition: all 1s;
}
H1:hover {
    text-shadow: 1px 1px white,
    2px 2px tomato;
    color: crimson;
}
H4 {
    overflow: hidden;
    text-shadow: 0 0 tomato,
    0 0 yellowgreen,
    0 0 skyblue;
    color: transparent;
    transition: all 1s;
}
H4:hover {
    text-shadow: -400px 0 tomato,
    400px 0 yellowgreen,
    0 0 skyblue;
}